body{
    margin: 0;
    background-image:radial-gradient(circle, green, black) ;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#divBody{
    background-color: #fcfcfcef;
    width: 800px;
    border-radius: 10px;
    min-height: 600px;
    margin: auto;
    
}

:root{
    --cor1: rgb(218, 218, 218);
    --cor2: #00a300;
}

/* Header */
header{
    & #divHeader{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 1080px;
        margin: auto;
        padding: 0 10px;

        & #headerNav{
            display: none;
        }
    }
}

/* Main */
main{
    & #divMain{
        max-width: 1080px;
        margin: auto;
        padding: 5px 10px;

        & #sectionAdd{
            & #formAdd{
                display: flex;
                gap: 10px;
                height: 35px;
            }

            & #inputTask{
                flex-grow: 10;
                border-radius: 5px;
                border: 1px solid black;
            }

            & #btAdd{
                background-color: var(--cor2);
                border-radius: 5px;
                border: 1px solid black;
                transition: .6s;
            }
            
            & #btAdd:hover{
                filter: drop-shadow(0px 0px 5px rgb(183, 183, 183));
            }
        }
        & #sectionTasks{
            transition: 1s;
            padding: 5px 0;
            display: flex;
            flex-direction: column;
            gap: 5px;
        }
    }
    /* Js Elements Create */
    .taskDiv{
        height: 30px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: relative;
        align-items: center;
        background-color: rgb(114, 224, 127);
        padding:5px 2px;
        border-radius: 5px;
        transition: 0.4s;
    }
    .taskDiv:hover{
        filter: drop-shadow(0 0 1px darkgray);
    }
    .btTaskAdd{
        background-color: green;
        right: 50px;
    }
    .btTaskRemove{
        background-color: red;
        right: 10px;
    }
    .bts{
        width: 25px;
        height: 25px;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        border-radius: 5px;
        transition: .4s;
    }
    .bts:hover{
        text-shadow: 0 0 10px rgb(255, 255, 255);
    }
    #sectionDone{
        display: flex;
        padding: 5px 0;
        flex-direction: column;
        border-top: 1px solid var(--cor2);
        gap: 5px;
    }
}

/* Footer */
 