@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: inter;
}

:root{
    --c1: #EE4266;
    --c2: #C92071;
    --c3: #991956;
    --c4: #B5B6F2;
    --c5: #52CA76;
    --c6: #F6AA1C;
    --c7: #D8E3F2;

    --s1: #1F1F1F;
    --s2: #474747;
    --s3: #666666;
    --s4: #8F8F8F;
    --s5: #CCCCCC;
    --s6: #F5F5F5;
    --s7: #FFFFFF;
    --s8: #F9F8FE;

    --b1: #47474779;
}

.cssDropShadow:hover{
    filter: drop-shadow(0 0 2px rgb(255, 0, 0));
}